@import "tailwindcss";

@theme {
  --color-primary-500: #FF4D30;
  --color-primary-600: #E63D20;
  --color-canvas-bg: #0A0710;
  --color-sidebar-bg: #08060E;
  --color-sidebar-hover: #161220;
  --color-node-border: #2D273F;
  --color-node-bg: #181423;
}

@layer base {
  :root {
    --background: #0A0710;
    --foreground: #F5F5F5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
